.review-list {
  list-style: none;
  text-align: center;
  padding: 3rem;
  border: 2px solid #000000;
}

h3{
  font: bold;
  font-size: large;
}

.review-card-list {
  list-style: none;
  text-align: center;
  padding: 3rem;
  border: 2px solid #000000;
  border-radius: 5rem;
}