*{
  background-color: #8bd3dd;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
   color: #000000;
}

button{
  background-color: #000000;
  color: #ffd7f8;
}

@media only screen and (min-width: 600px) {
  .App {
    grid-template-columns: 25% 75%;
    grid-template-rows: min-content auto;
    grid-template-areas:
      'header header'
      'nav content';
  }
}
.loading{
  align-content: center;
}
